* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #333;
    font-size: 2.5rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #666;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.upload-box input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.upload-box button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
}

.upload-box button:hover {
    background-color: #45a049;
}

.output-container {
    display: none;
    margin-top: 20px;
}

#sketchImage {
    max-width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
}
